.calendarContainer {
	width: 700px;
	margin: 20px 0 20px 20px;
	border: 1px solid grey;
}

.calendarHeaderDay {
	width: 100px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid grey;
}

.calendarBodyDay {
	margin: 0;
	width: 100px;
	height: 100px;
	display: inline-block;
	border: 2px solid grey;
	box-sizing: border-box;
	vertical-align: top;
}

.calendarBodyDay:hover {
	cursor: pointer;
	box-shadow: inset 0 0 5px #fff;
	background-color: #ddd;
}

.calendarBodyDayBlank {
	background-color: #ddd;
}

.calendarBodyDayBlank:hover {
	cursor: default;
}

.reminderPopup {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}